:root {
    --background-color-dark: hsl(0, 0%, 9%);
    --font-color-dark: lightgreen;
    /* --font-color-dark: rgb(235, 235, 235); */
}

@font-face {
    font-family: indie-flower;
    src: url(../assets/IndieFlower-Regular.ttf);
}

body {
    font-family: indie-flower, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: var(--background-color-dark);
    color: var(--font-color-dark);
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    /* border-bottom: 4px solid whitesmoke; */
    font-size: 2rem;
}

h1 {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.gameContainer {
    height: 500px;
    width: 500px;
    box-sizing: border-box;
    border: 2px solid lightgreen;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}

.winFrame {
    width: 500px;
    height: 500px;
    position: absolute;
    box-sizing: border-box;
    border: 4px solid lightgreen;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    top: 0;
    bottom: 0;
    left: -2px;
    right: 0;
}

.winFrame#noShow {
    display: none;
}

.winFrame#show {
    display: block;
}

.cell {
    box-sizing: border-box;
    border: 1px solid lightgreen;
    color: lightgreen;
    padding: 10px;
    font-size: 6rem;
}

.cell:hover {
    background-color: hsl(120, 73%, 75%, 0.1);
}

.cell#winner {
    background-color: hsl(120, 73%, 75%, 0.4);
}

.message {
    height: 35px;
    font-size: 2rem;
}

.message#error {
    color: red;
}

.message#neutral {
    color: goldenrod;
    font-weight: 600;
}

.message#positive {
    color: lightgreen;
    font-weight: 600;
}

.reset {
    width: 500px;
    background: var(--background-color-dark);
    border: 3px solid var(--font-color-dark);
    border-radius: 12px;
    color: var(--font-color-dark);
    font-size: 1.5rem;
    font-family: inherit;
    padding: 20px;
}

.reset:hover {
    border: 3px solid darkred;
    color: red;
    cursor: pointer;
}

.reset:active {
    color: darkred;
}

.footer {
    /* border-top: 4px solid whitesmoke; */
    padding: 20px;
    margin-top: auto;
}