:root {
    --background-color-dark: #181818;
    --font-color-dark: rgb(235, 235, 235);
}

/* html {
    margin: 0;
} */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: var(--background-color-dark);
    color: var(--font-color-dark);
    text-align: center;
    margin: 0;
}

.header {
    border-bottom: 4px solid whitesmoke;
}